<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voucher_account.name %>
</p>

<%= link_to 'Edit', edit_voucher_account_path(@voucher_account) %> |
<%= link_to 'Back', voucher_accounts_path %>
